@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway/webfonts/raleway_thin-webfont.woff); }

@font-face {
  font-family: Hattori-Hanzo;
  src: url(../fonts/Hattori-Hanzo/Hattori_Hanzo.otf); }

body {
  height: 100%;
  width: 100%;
  background: #00FF00 url(../img/grey_wash_wall_@2X.png) repeat;
  color: #e8f3f9;
  position: relative;
  font-size: 14px;
  font-family: Hattori-Hanzo, serif; }
  body .container {
    width: 600px;
    height: 100%;
    padding: 30px;
    margin: auto;
    font-size: 12px; }
    body .container div {
      vertical-align: top;
      display: inline-block;
      padding: 10px; }
    body .container .brief {
      height: 400px;
      width: 175px; }
      body .container .brief img {
        margin-top: 30px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        -webkit-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        width: inherit; }
        body .container .brief img:hover {
          transform: scale(1.06, 1.06);
          overflow: true; }
    body .container .detail {
      height: 100%;
      width: 375px; }
      body .container .detail .video {
        width: 355px;
        height: 199.6875px;
        margin: auto; }
