$GLITTER: rgba(232, 243, 249, 1);

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($attr, $time, $time-func:ease) {
    transition:$attr $time $time-func;
    -moz-transition:$attr $time $time-func;
    -webkit-transition:$attr $time $time-func;
    -o-transition:$attr $time $time-func;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway/webfonts/raleway_thin-webfont.woff);
}

@font-face {
  font-family: Hattori-Hanzo;
  src: url(../fonts/Hattori-Hanzo/Hattori_Hanzo.otf);
}

body {
    height: 100%;
    width: 100%;
    background: #00FF00 url(../img/grey_wash_wall_@2X.png) repeat;
    color: $GLITTER;
    position: relative;
    font-size: 16px;
    font-family: Hattori-Hanzo, serif;

    .container {
        $container_width: 600px;
        width: $container_width;
        height: 100%;
        padding: 30px;
        margin: auto;
        font-size: 16px;
        div {
            vertical-align: top;
            display: inline-block;
            padding: 10px;
        }
        .brief {
            height: 400px;
            width: ($container_width / 3 - 25px);
            img {
                margin-top: 30px;
                @include border-radius(4px);
                @include transition(transform, 0.5s);
                width: inherit;
                &:hover {
                    transform: scale(1.06, 1.06);
                    overflow: true;
                }
            }
        }
        .detail {
            height: 100%;
            width: ($container_width / 3 * 2 - 25px);
        }
    }
}